:root{
    --background-color: rgb(209, 209, 203);
}
* {
    box-sizing: border-box;
}

p, label, select, button {
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

small{
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: italic;

}

h1, h2 {
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    
}

body{
    background-color: var(--background-color);
    padding: 2rem;
}

.body-flex, main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
#name{
    margin-bottom: 0;
}
audio{
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

label, select, button {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
}

select, button{
padding: 0.5em;
}

.area-container, .animal-container{
    width: 50%;
}
select{
    width: 100%;
    cursor: pointer;
}

.form-wrapper, .footer-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.img-container{
    width: 100%;
}

.background{
    height: 100%;
    width: 100%;
}

.footer-wrapper{
    height: 3rem;
    margin-top: 2rem;
}

@media screen and (min-width:700px) {
body{
    padding: 4rem;
}
.body-flex {
    align-items: flex-start;
    flex-direction: row;
    gap: 4rem;
}
#header-wrapper{
    width: 40%;
}
main{
    width: 60%;
}
.footer-wrapper{
    margin-top: 4rem;
    height: 4rem;
}
    
}